/*===== GOOGLE FONTS =====*/

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/*===== VARIABLES CSS =====*/

:root {
    --header-height: 3rem;
    /*===== Colors =====*/
    --first-color: #49bdd2;
    --first-color-light: #ffd900;
    --dark-color: #e42321;
    --white-color: #FBFBFB;
    --input-color: #80868B;
    --border-color: #DADCE0;
    /*===== Font and typography =====*/
    --body-font: 'Nunito', sans-serif;
    --nav-name-font-size: 20px;
    --normal-font-size: 18px;
    --small-font-size: 12px;
    /*===== z index ===== */
    --z-fixed: 100;
}


/*===== BASE =====*/

*,
 ::before,
 ::after {
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 600;
    flex-wrap: wrap;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}


/*===== HEADER =====*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    padding: 0 1rem;
    background-color: #FFF;
    z-index: var(--z-fixed);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__logo {
    color: var(--dark-color);
}

.header__toggle {
    font-size: 1.7rem;
    cursor: pointer;
}


/*===== NAV =====*/

@media screen and (max-width: 768px) {
    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: var(--first-color);
        width: 80%;
        height: 100vh;
        padding: 2rem 0;
        z-index: var(--z-fixed);
        transition: .5s;
        overflow-y: auto;
    }
}

.nav__content {
    display: flex;
    flex-direction: column;
}

.nav__perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

.nav__img {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.nav__img img {
    width: 100%;
    height: 100%;
}

.nav__name {
    display: block;
    font-size: var(--nav-name-font-size);
    color: var(--white-color);
}

.nav__item {
    margin-bottom: 2rem;
}

.nav__link {
    color: var(--first-color-light);
}

.nav__link:hover {
    color: var(--white-color);
}


/*Show menu*/

.show {
    left: 0;
}


/*Active link*/

.active {
    color: var(--white-color);
}


/*=== Dropdown ===*/

.dropdown__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown__icon {
    font-size: 1.3rem;
    transition: .5s;
}

.dropdown__menu {
    margin: 1rem 0 0 1rem;
    display: none;
}

.dropdown__item {
    margin: 1rem 0;
}

.dropdown:hover>.dropdown__menu {
    display: block;
}

.dropdown:hover .dropdown__icon {
    transform: rotate(180deg);
}


/* ===== MEDIA QUERIES=====*/

@media screen and (min-width: 576px) {
    .nav {
        width: 288px;
    }
}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }
    .header {
        height: calc(var(--header-height) + 1rem);
    }
    .header__logo,
    .header__toggle {
        display: none;
    }
    .nav {
        width: 100%;
    }
    .nav__content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .nav__perfil {
        flex-direction: row;
        text-align: initial;
        margin-bottom: 0;
    }
    .nav__img {
        width: 50px;
        height: 50px;
        margin-right: .5rem;
        margin-bottom: 0;
        border-radius: 0;
    }
    .nav__img img {
        width: 100%;
        height: 100%;
    }
    .nav__name {
        color: var(--dark-color);
    }
    .nav__list {
        display: flex;
        align-items: center;
    }
    .nav__item {
        margin: 0 1.5rem;
        padding: 1.4rem 0;
    }
    .nav__link {
        color: var(--dark-color);
    }
    .nav__link:hover {
        color: var(--first-color);
    }
    /*Active link new color*/
    .active {
        color: var(--first-color);
    }
    .dropdown {
        position: relative;
    }
    .dropdown__menu {
        position: fixed;
        margin: 0;
        top: calc(var(--header-height) + 1rem);
        padding: .5rem 1.5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: .5rem;
    }
    .dropdown__item {
        margin: .5rem 0;
    }
}

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}


/* ===== FOOTER ===== */

footer {
    bottom: 0;
    background: var(--dark-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--white-color);
    align-self: flex-end;
}

.text {
    font-size: 14px;
    font-weight: bold;
    margin: 40px auto;
}

.list-footer {
    margin: 20px auto;
    display: flex;
    list-style-type: none;
}

.list-footer li a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

.list-footer li a:hover {
    color: var(--first-color-light);
}


/* .social-media {
    margin: 20px auto;
} */

.social-media i {
    padding: 20px;
    font-size: 25px;
    color: var(--white-color);
}

.social-media i:hover {
    color: var(--first-color);
}

@media(max-width:810px) {
    .list-footer li a {
        padding: 15px;
        font-size: 15px;
    }
    .social-media i {
        padding: 10px;
    }
    .copyrights {
        padding: 15px;
        font-size: 15px;
    }
}

@media(max-width:610px) {
    .list-footer li a {
        padding: 10px;
        font-size: 12px;
    }
    .social-media i {
        font-size: 15px;
    }
    .copyrights {
        padding: 10px;
        font-size: 12px;
    }
}

@media(max-width:470px) {
    .text {
        font-size: 12px;
    }
    .list-footer li a {
        padding: 5px;
    }
    .copyrights {
        padding: 5px;
    }
}

@media(max-width:330px) {
    .text {
        font-size: 10px;
    }
}


/* ===== LOGIN & REGISTER-FORM ===== */

.l-form {
    margin: 6rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 50vw;
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.form__title {
    font-weight: bold;
    margin-bottom: 3rem;
    display: block;
    font-size: 2.5vw;
    color: var(--dark-color);
}

.form__div {
    position: relative;
    height: 48px;
    margin-bottom: 1.5rem;
}

.form__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: var(--normal-font-size);
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
}

.form__label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 .25rem;
    background-color: #fff;
    color: var(--input-color);
    font-size: var(--normal-font-size);
    transition: .3s;
}

.form__button {
    display: inline;
    margin-top: 0.5em;
    padding: .75rem;
    outline: none;
    border: none;
    background-color: var(--dark-color);
    color: #fff;
    font-size: var(--normal-font-size);
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
}

.form__button:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
    background-color: var(--first-color);
}


/*Input focus move up label*/

.form__input:focus+.form__label {
    top: -.5rem;
    left: .8rem;
    color: var(--first-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}


/*Input focus sticky top label*/

.form__input:not(:placeholder-shown).form__input:not(:focus)+.form__label {
    top: -.5rem;
    left: .8rem;
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}


/*Input focus*/

.form__input:focus {
    border: 1.5px solid var(--first-color);
}